.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  min-height: 200px;
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
} 